@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-light: #e6e6e6;
    --color-base: hsl(5, 75%, 50%);
    --color-base-light: hsl(5, 75%, 60%);
    --color-base-dark: hsl(5, 75%, 40%);
  }
}

@layer utilities {
  .container {
    @apply w-[95%] md:w-[90%] lg:w-[80%] mx-auto;
  }
}